/{
	soc {
		button: button@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "i14,button";
			label = "BUTTONDRV";
			status = "okay";
			reg = <0x0 0x100>;
			int-gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
		};
	};
};

&i2c1 {
	status="okay";
	lcd: lcd@27 {
		compatible = "i14,pcf8574";
		label = "LCD_I2C";
		reg = <0x27>;
	};
};
